.board {
    margin: 0px 30px;
}

.row {
    height: 30px;
    display: flex;
}

.tile {
    width: 30px;
    height: 100%;
    border: 1px grey solid;
}

.tile img {
    height: 100%;
}

.current-word {
    text-align: center;
}

.current-word.papyrus {
    font-family: "papyrus";
}