.board {
    margin: 0px 30px;
    selected: none;
    outline: none;
}

.row {
    height: 30px;
    display: flex;
}

.tile {
    width: 30px;
    height: 100%;
    border: 1px grey solid;
}

.tile img {
    height: 100%;
}

.current-word {
    text-align: center;
}

.completed-list {
    list-style: none;
}

:focus {
    outline-color: rgba(255, 255, 255, 0);
}
