html {
    overflow: hidden;
}

.chatbox-submit-btn {
    width: 30px !important;
    height: 25px !important;
    margin-left: 10px !important;

}

.MuiCard-root-39 {
    overflow: auto !important;
}

.message-box {
    overflow: auto;
    height: 300px;
}

/*********/
/*NAV BAR*/
/*********/

.nav {
    height: 80px;
}

.nav-title {
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
    padding: 0px 10px;
    text-transform: uppercase;
}

.nav-secondary {
    height: 15px;
    background-color: #1c54b2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}

.nav-primary {
    height: 40px;
    background-color: #5393ff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);

}

/****************/
/* BOARD LAYOUT */
/****************/

.horn {
    display: none;
}

:focus {
    outline-color: rgba(255, 255, 255, 0);
}

.board {
    margin: 0px 30px;
    selected: none;
    outline: none;
}

.row {
    height: 30px;
    display: flex;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tile, .lettered-tile, .collected-tile {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.lettered-tile {
    background-image: url("./images/woodTileLight.png");
}

.collected-tile {
    /* background-color: limegreen; */
    background-image: url("./images/woodTileLight.png");
}

.tile img {
    height: 100%;
}

/**********************/
/* PLAY/PAUSE BUTTONS */
/**********************/

.row .buttons {
    margin-top: 20px;
}

button.play-btn {
    background-color: #8bc34a !important;
    margin-right: 10px;
}

button.pause-btn {
    background-color: #ffc400 !important;
    margin-left: 10px;
}

/****************/
/* CURRENT WORD */
/****************/

.current-card {
    width: 300px !important;
    height: 4%;
    margin: 0 0 30px 0;
}

.current-word {
    margin-top: 5%;
    text-align: center;
}

.current-word.papyrus {
    font-family: "papyrus";
}

.current-header {
    color: rgba(0, 0, 0, .2);
    padding-top: 15px;
    margin-bottom: -10px;
}

/*******************/
/* COMPLETED WORDS */
/*******************/

.score {
    padding: 10px 12px;
    border-radius: 100%;
    background-color: rgba(0,0,0,.05) !important;
}

.MuiButton-label-2 {
    font-size: 23px;
    font-weight: bold;
}

@keyframes blinker {
    /* 0% {
        background-color: none;
    }
    25% {
        background-color: none;
    } */
    50% {
        background-color: limegreen;
    }
    /* 75% {
        background-color: limegreen;
    } */
}

.card-header {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.card-title {
    padding-right: 20px;
    color: rgba(0, 0, 0, .2);
    font-size: 30px;
}

.completed-card {
    height: 650px;
    padding: 20px 40px 30px;
    width: 225px;
}

.MuiCard-root-1, .MuiCard-root-39 {
    overflow: inherit !important;
}

.green {
    color: limegreen;
}

.iunno {
    color: black;
}
