.nav {
    height: 80px;
}

.nav-secondary {
    height: 10px;
    background-color: #00695f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
}

.nav-primary {
    height: 30px;
    background-color: #009688;
}

.board {
    margin: 0px 30px;
    selected: none;
    outline: none;
}

.row {
    height: 30px;
    display: flex;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tile, .lettered-tile, .collected-tile {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.lettered-tile {
    background-image: url("./images/woodTileLight.png");
}

.collected-tile {
    /* background-color: limegreen; */
    background-image: url("./images/woodTileLight.png");
}

.tile img {
    height: 100%;
}

.score {
    padding: 10px 12px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@keyframes blinker {
    /* 0% {
        background-color: none;
    }
    25% {
        background-color: none;
    } */
    50% {
        background-color: limegreen;
    }
    /* 75% {
        background-color: limegreen;
    } */
}

.current-card {
    width: 300px !important;
    height: 4%;
    margin: 0 0 30px 0;
}

.current-word {
    margin-top: 5%;
    text-align: center;
}

.current-word.papyrus {
    font-family: "papyrus";
}

.current-header {
    color: rgba(0, 0, 0, .2);
    padding-top: 15px;
    margin-bottom: -10px;
}

.card-header {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.card-title {
    padding-right: 20px;
    color: rgba(0, 0, 0, .2);
    font-size: 30px;
}

:focus {
    outline-color: rgba(255, 255, 255, 0);
}

.completed-card {
    height: 650px;
    padding: 20px 40px 30px;
}

.MuiCard-root-1 {
    overflow: inherit !important;
}

.green {
    color: limegreen;
}

.iunno {
    color: black;
}
